.Projects {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  border-bottom: 1px solid rgba(207, 203, 203, 0.5);

  h2 {
    color: #083858;
    text-align: left;
  }

  //   .Info {
  //     margin-bottom: 40px;
  //   }
}

// a {
//   color: #0eacef;
//   text-decoration: none;
// }
